<div class="row">
  <div class="col-md-4">
    <div class="entry input-group col-xs-10">
      <div class="edit">{{.Title}}</div>
    </div>
    <div class="entry input-group col-xs-12">
      <div class="edit">{{.Content}}</div>
    </div>
    <div class="entry input-group col-xs-12">
      <div class="edit">{{.Hash}}</div>
    </div>
    <div class="entry input-group col-xs-12">
      <div class="edit">{{.Type}}</div>
    </div>
  </div> <!--end of col-md-4-->
  <div class="col-md-4">
    <a href="#" class="remove_field"><button class="btn btn-danger btn-minus" type="button" align="right">
    <span class="glyphicon glyphicon-minus"></span></button></a>
  </div> <!--end of col-md-4-->
</div>
